// 自定義的 utilites
$utilities: map-merge(
  $utilities,  //bootstrap utilites 一定要引入，不然會沒辦法使用原本的通用類別
  (
    "object-fit": (
      property: object-fit,
      class: o-f,
      responsive: true,
      values: contain cover grab,
    ),
  )
);