/*遊戲大廳*/
.gameList-item {
    position: relative;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    border: 0px;
    padding: 0px 0.5rem;
    .item-card-img {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        margin-top: -0.75rem;
        .pd-img {
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            background-position: center center;
            border-radius: 8px;
            z-index: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
    }
    &:hover .pd-img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .card-footer {
        background: #ffffff;
        border-top: 0px;
        padding: 0.625rem 0.25rem;
    }
}
.cover-image {
    background-size: cover !important;
    position: relative;
}
.product-more {
    background: url('../images/product/img_more.png') center no-repeat;
    background-size: contain;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(md) {
        height: 300px;
    }
}
.gameList-tagAge {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: auto;
    margin: 0.25rem;
}

/*遊戲詳情*/
.gameDetail-pic {
    position: relative;
    .game-img {
        width: 100%;
        height: auto;
    }
    .game-text {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        bottom: 0px;
        left: 0px;
        @include media-breakpoint-down(md) {
            position: relative;
        }
    }
    .gameList-tagAge {
        width: 40px;
        @include media-breakpoint-down(md) {
            width: 25px;
        }
    }
}
.server-block {
   .btn {
        @include media-breakpoint-down(md) {
            font-size: 0.875rem;
        }
   }
}