/*首頁-新聞列表*/
.news-list {
    a.news-item {
        display: flex;
        align-items: center;
        border-radius: $border-radius;
        &:hover {
            background-color: #f5f5f5;
        }
    }
    .news-item-title {
        width: calc(100% - 55px);
    }
}