/*首頁-新聞列表*/
.news-list {
    // .badge {
    //     font-size: 0.875rem;
    //     height: 30px;
    //     line-height: 22px;
    // }
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        &:first-child {
            border-top: none;
        }
    }
    a.news-list-item {
        color: #333333;
        border-radius: 4px;
        display: block;
        padding: 0.5rem;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0,0,0,0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        @media (max-width:767px) {
            font-size: 0.875rem;
        }
        &:hover {
            color: #333333;
            text-decoration: none;
            background-color: #f5f5f5;
        }
        &.hvr-grow:hover {
            background-color: #ffffff;
            -webkit-transform: scale(1.02);
            transform: scale(1.02);
        }
    }
}
.news-list-r {
    width: calc(100% - 50px);
}
// .news-list-title {
//     word-break: keep-all;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

// .news-list-date {
//     font-size: 0.875rem;
//     color: #C92217;
//     @media (max-width:767px) {
//         font-size: 0.75rem;
//     }
// }

.news-list-text {
    font-size: 0.875rem;
    color: #888888;
}

/*新聞詳情*/

.newsDetail {
    .con-block {
        padding: 0;
    }
}

.newsDetail-top {
    background: #f5f5f5;
    text-align: center;
    border-top: 3px solid #C92217;
    padding: 1.875rem 1rem;
    @media (max-width:767px) {
        padding: 1rem;
    }
    h3 {
        font-size: 1.625rem;
        margin: 0 0 0.75rem 0;
        @media (max-width:767px) {
            font-size: 1.25rem;
            margin: 0 0 0.625rem 0;
        }
    }
    p {
        font-size: 1.125rem;
        color: #C92217;
        margin: 0;
        @media (max-width:767px) {
            font-size: 0.875rem;
        }
    }
}
.newsDetail-content {
    padding: 2.5rem;
    @media (max-width:767px) {
        padding: 1.25rem 1rem;
    }
    img {
        width: auto;
        height: auto;
        max-width: 600px;
        max-height: 100%;
        display: block;
        margin: 1rem auto;
        @media (max-width:767px) {
            max-width: 100%;
        }
    }
    p {
        @media (max-width:767px) {
            font-size: 0.875rem;
        }
    }
}