//footer
.footer {
    background: $gray-600;
    padding: 1.25rem;
    .footer-link {
        a {
            padding: 0 .25rem;
        }
    }
    p {
        font-size: .875rem;
        color: #ffffff;
        margin: .25rem 0;
    }
    @include media-breakpoint-down(md) {
        display: none;
    }
}

//tabbar
.tabbar {
    width: 100%;
    height: 60px;
    position: fixed;
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    border-top: 2px solid #f95147;
    display: flex;
    left: 0px;
    bottom: 0px;
    z-index: 3;
    @include media-breakpoint-up(md) {
        display: none;
    }
    a {
        width: 100%;
        height: auto;
        position: relative;
        font-size: .75rem;
        font-weight: bold;
        text-align: center;
        color: $primary;
        text-decoration: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        &:hover,&.active {
            background: linear-gradient(135deg, #f95147 1%,#ee2757 100%);
            color: #ffffff;
            img.icon-on {
                display: block;
            }
            img.icon-off {
                display: none;
            }
        }
        img.icon-on {
            display: none;
        }
    }
    img {
        width: 24px;
        margin: 0 auto .125rem auto;
    }
    p {
        margin: 0;
    }
}